/* column_chooser.css */

#column_chooser { 
  padding: 0.5%;
  background-color: white;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#column_chooser_title {
  padding: 5px;
  background-color: #C9E6B3;
}

#column_chooser_table{
  margin: 5px;
  padding: 10px;
}

#column_chooser_table td{
  padding: 5px;
}

#column_chooser_title a {
  cursor: pointer;
}

span.cc_major {
  font-size: 100%;
}

span.cc_minor {
  font-size: 90%;
  font-style: italic;
  color: #666;
}
