body {
   background-color: #eeeeee;
}


.header {
    background-color: black; // navy;
    color: AntiqueWhite;
}

.menu {
   background-color: #cccccc;
}

.controls {
    text-align: right;
}

.control-section {
    background-color: white;
    margin: 10px 0px;
    padding: 10px;
}

.text-element {
    padding: 3px;
}

.text-element-lg {
    font-size: 20px;
}

/* Save Panel */

#save-panel {
    display: none;
}

/* Report controls */

#report_controls_title {
  background-color: lightyellow;
}

