/* report_controls css */

#report_controls {
  padding: 0.5%;
  background-color: white;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

#report_controls_title {
  padding: 5px;
  background-color: lightyellow;
}
#summaries-title {
  padding: 5px;
  background-color: #EBD5D9 /* pink; */
}

#report_controls_table {
    margin: 5px;
    padding: 10px;
}
#report_controls_table td {
  vertical-align: top;
  padding: 2px;
}
#report_controls_table td.filter-field {
  padding-right: 10px;
}
#report_controls_table tr.filter-summarize-by td {
    padding-bottom: 30px;
}

#report_description_container {
  margin: 10px;
  padding: 10px;	
  background-color: white;
  font-weight: bold;
  font-size: 14px;
}

#report_controls input {
    height: 20px;
}