body {
   background-color: #eeeeee;
}


.header {
    background-color: black; // navy;
    color: AntiqueWhite;
}

.menu {
   background-color: #cccccc;
}

.control-section {
    background-color: white;
    margin: 10px 0px;
    padding: 10px;
}

.text-element {
    padding: 3px;
}

.text-element-lg {
    font-size: 20px;
}
